.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        align-items:flex-end;
    }

    .dark-mode-boton {
        width: 3rem;
        margin-top: 3rem;
        margin-bottom:3rem;
        filter: invert(100%);

        &:hover {
            cursor: pointer;
        }

        @include tablet {
            margin-top: 0;
        }
    }
}


.barra {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        flex-direction: row;
        justify-content:  space-between;
        align-items: flex-end;
    }
}

.navegacion {
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease-in-out, opacity .3s ease-in-out, height .3s ease-in-out;
    height: 0;

    @include tablet{
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }

    a{
        text-decoration: none;
        color: $blanco;
        font-size: 1.6rem;
        display: block;
        text-align: center;

        @include tablet{
            margin-right: 2rem;

            & :last-of-type {
                margin-right: 0;
            }
        }
    }
}

/*menu hamburguesa*/
.mobile-menu {
    @include tablet {
        display: none;
    }

    img {
        width: 5rem;
    }

    &:hover {
        cursor:pointer;
    }


}

.mostrar {
    visibility:visible;
    opacity: 1;
    height: auto;
}
